/* Fonts Import */
/* latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll9w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4iNhMA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Tags*/
* {
    font-size: 16px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}
.mediumbold {
    font-weight: 500;
}
.caps {
    text-transform: uppercase;
}

/* Background Colors */
.light_bg {
    background-color: white;
}
.semilight_bg {
    background-color: whitesmoke;
}
.dark_bg {
    background-color: lightgray;
}

/* Font Colors */
.textcolor {
    color: rgb(73, 72, 72);
}
.lighttextcolor {
    color: darkgray;
}

/* Header */

.computer_header {
    border: 1px solid red;
    display: inline-flex;
    width: 96.35%;
    height: 64px;
    text-align: right;
    justify-content: space-between;
    padding: 0 24px;
}
.computer_header div {
    border: 1px solid red;
    display: inline-flex;
    align-items: center;
}
.computer_header div h1 {
    border: 1px solid red;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:2.1rem;
    height: 2rem;
    width: auto;
       
}
.computer_header div img {
    border: 1px solid red;
    height: 45px;
    width: auto;
}
nav {
    border: 1px solid red;
    display: inline-flex;
    align-items: center;
}
nav li {
    border: 1px solid red;
    display: inline-flex;
    font-size: 1.1rem;
    margin: 0 16px;
}
    
.mobile_only_header {
    display: none;
}



@media only screen and (max-width: 500px){
    .mobile_only_header {
        border: 1px solid red;
        display: inline-flex;
        width: 99%;
        height: 64px;
        text-align: right;
        justify-content: space-between;
    }
       
    .mobile_only_header img {
        display: inline-block;
        border: 1px solid red;
        height: 100%;
        width: auto;
    }
    .computer_header {
        display: none;
    }
}

/* Section 1: Banner*/
.section1 {
    border: 1px solid blue;
    display: inline-flex;
    align-items: center;
}

.section1 img {
    border: 1px solid blue;
    margin: 2rem 1.5rem;
    width: 50%;
    height: auto;
}

.section1 div {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 40%;
    height: auto;
    margin-left: 24px;
    border: 1px solid blue;
    padding: 10px 160px 10px 0;
}

.section1 h2 {
    border: 1px solid blue;
    font-size: 3rem;
    line-height: 4.3rem;
    margin: 15px 0;
}

.section1 h3 {
    border: 1px solid blue;
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin: 15px 0;
}
.section1 .button {
    border: 1px solid blue;
    font-weight: normal;
    color: white;
    background-color: rgb(94, 91, 91);
    width: auto;
    margin: 15px 0;
}

.section1 .button p {
    padding: 1rem 0;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 500px){
    .section1 {
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
    }
    .section1 img {
        border: 1px solid blue;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .section1 div {
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
        width: 90%;
        height: auto;
        border: 1px solid blue;
        padding: 24px;
        margin-left: 0;
    }

    .section1 .button {
        border: 1px solid blue;
        font-weight: normal;
        color: white;
        background-color: rgb(94, 91, 91);
        width: auto;
        margin: 15px 0;
        padding: 0;
    }
    
    .section1 .button p {
        padding: 1rem 0;
        font-size: 1rem;
        text-align: center;
    }
} 

/* Section 2: Information*/
.section2 {
    border: 1px solid green;
    display: inline-flex;
}

.section2 .secondary {
    width: 55%;
    border: 1px solid green; 
    margin-bottom: 2rem;
}

.section2 img {
    border: 1px solid green;
    width: 91%;
    height: auto;
    margin: 2rem 1.5rem;
    margin-bottom: 1rem;
}
.section2 .secondary h2 {
    font-size: 2rem;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
}
.section2 .secondary p {
    font-size: 1.125rem;
    margin: 2rem 1.5rem;
    margin-bottom: 2.5rem;
}
.section2 .secondary p.copyright {
    font-size: 1rem;
    margin: 2rem 1.5rem;
    margin-bottom: 0;
    padding: 10px,
}


.section2 .main {
    border: 1px solid green;
    width: 40%;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.section2 .main .container img {
    border: 1px solid green;
    width: 35%;
    height: auto;
    margin: 10px;
}

.section2 .main .container img.mobile-only {
    display: none;
}

.section2 .main {
    border: 1px solid green;
    width: 45%;
    
}

.section2 .main .container {
    border: 1px solid green;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.section2 .main .textcontainer {
    border: 1px solid green;
    width: 65%;
    height: auto;
}

.section2 .main .textcontainer h2 {
    font-size: 1.6rem;
    border: 1px solid green;
    margin: 0.5rem 0;
}

.section2 .main .textcontainer p {
    border: 1px solid green;
    margin: 0.5rem 0;
    font-size: 0.9375rem;
}

.section2 .main .textcontainer a {
    border: 1px solid green;
    margin: 0.5rem 0;
    font-size: 0.9375rem;
    text-decoration: none;
    color: rgb(0, 110, 255);
    font-weight: 600;
}

@media only screen and (max-width: 500px){
    .section2 {
        border: 1px solid green;
    }
    
    .section2 .secondary {
        display: none;
    }
    
    .section2 .main {
        border: 1px solid red;
        width: 100%;
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }
    
    .section2 .main .container img {
        display: none;
    }
    
    .section2 .main .container img.mobile-only {
        display: block;
        width: 90%;
        height: auto;
        margin: 16px;
    }
    
    .section2 .main {
        border: 1px solid green;
        width: 100%;
        margin: 0;
    }
    
    .section2 .main .container {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    
    .section2 .main .textcontainer {
        border: 1px solid green;
        width: 65%;
        height: auto; 
        position: relative;
        right: 3.75rem;
        margin: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .section2 .main .textcontainer h2 {
        font-size: 1.6rem;
        border: 1px solid green;
        margin: 0.5rem 0;
    }
    
    .section2 .main .textcontainer p {
        border: 1px solid green;
        margin: 0.5rem 0;
        font-size: 0.9375rem;
    }
    
    .section2 .main .textcontainer a {
        border: 1px solid green;
        margin: 0.5rem 0;
        font-size: 0.9375rem;
        text-decoration: none;
        color: rgb(0, 110, 255);
        font-weight: 600;
    }
}

/* Section 3: Courses*/
.section3 {
    border: 1px solid purple;
    text-align: center;
}

.section3 h2 {
    border: 1px solid purple;
    font-size: 2.3rem;
    margin: 2rem;

}

.section3 .classes-container {
    border: 1px solid purple;
    margin: 0 3.5rem 1rem 3.5rem;
    padding: 1rem;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.section3 .classes-container .course-container {
    border: 1px solid purple;
    margin:  1rem;
    margin-top: 0;
    padding-top: 0;
    
}

.section3 .classes-container .course-container img {
    border: 1px solid purple;
    height: auto; 
    width: 360px;
}

.section3 .classes-container .course-container .text-container {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.section3 .classes-container .course-container .text-container h3{
    border: 1px solid purple;
    margin: 1rem 0 1rem 0;
    font-size: 1.625rem;
}

.section3 .classes-container .course-container .text-container p {
    border: 1px solid purple;
    margin: 0.5rem 0;
    font-size: 1.025rem;
}

@media only screen and (max-width: 500px) {
    .section3 {
        border: 1px solid purple;
        text-align: center;
        background-color: whitesmoke;
    }
    
    .section3 h2 {
        border: 1px solid purple;
        font-size: 2.3rem;
        margin: 2rem;
    
    }
    
    .section3 .classes-container {
        border: 1px solid purple;
        margin: 0.5rem 2rem 2rem 2rem;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .section3 .classes-container .course-container {
        border: 1px solid purple;
        margin: 0.5rem 0;
        padding: 0;
        width: 100%;
        background-color: lightgray;
    }
    
    .section3 .classes-container .course-container img {
       display: none;
    }
    
    .section3 .classes-container .course-container .text-container {
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: left;
    }
    
    .section3 .classes-container .course-container .text-container h3{
        border: 1px solid purple;
        margin: 1rem;
        font-size: 1.625rem;
    }
    
    .section3 .classes-container .course-container .text-container p {
        display: none;
    }
}

/* Section 4: Thesis Exhibit */
.section4 {
    border: 1px solid darkgoldenrod;
    display: inline-flex;
    align-content: center;
    border: 1px solid darkgrey;
    border-style: none none solid none;

}

h2.section4 {
    border: 1px solid darkgoldenrod;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
}

.section4 .main{
    border: 1px solid darkgoldenrod;
    margin: 1.5rem;
    height: auto;
    width: 55%
}

.section4 .main video{
    border: 1px solid darkgoldenrod;
    width: 100%;
}

.section4 .main h3{
    border: 1px solid darkgoldenrod;
    margin-top: 1.5rem;
}

.section4 .main p{
    border: 1px solid darkgoldenrod;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.section4 .secondary{
    border: 1px solid darkgoldenrod;
    width: 45%;
}

.section4 .secondary .container{
    border: 1px solid darkgoldenrod;
}

.section4 .secondary .container .individual-container{
    border: 1px solid darkgoldenrod;
    display: inline-flex;
    padding: 0.5rem;
}

.section4 .secondary .container .individual-container img{
    border: 1px solid darkgoldenrod;
    margin: 1rem;
    margin-right: 1px;
    width: 40%;
    height: auto;
}

.section4 .secondary .container .individual-container .text-cont {
    border: 1px solid darkgoldenrod;
    width: 65%;
    padding: 1rem;
    padding-top: 4.5rem;
}

.section4 .secondary .container .individual-container .text-cont h3{
    border: 1px solid darkgoldenrod;
}

.section4 .secondary .container .individual-container .text-cont p{
    border: 1px solid darkgoldenrod;
}

@media only screen and (max-width:500px) {
    .section4 {
        border: 1px solid darkgoldenrod;
        display: inline-flex;
        align-content: center;
    }
    
    h2.section4 {
        border: 1px solid darkgoldenrod;
        display: flex;
        justify-content: center;
        padding: 2rem;
        
    }
    
    .section4 .main{
        border: 1px solid darkgoldenrod;
        width: 100%;
        margin: 0;
    }
    
    .section4 .main video{
        border: 1px solid darkgoldenrod;
        width: 100%;
        margin: 0;
    }
    
    .section4 .main h3{
        display: none;
    }
    
    .section4 .main p{
        display: none;
    }
    
    .section4 .secondary{
        display: none;
    }
}

/*Footer */
footer {
    font-size: 0.7rem;
    text-align: left;
    padding: 1rem 1.5rem;
}

footer nav {
    position: relative;
    bottom: 14px;
    left: 93%;
    font-size: 0.7rem;
    text-align: right;
}

footer ul li {
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

div.line {
    color: whitesmoke;
}

@media only screen and (max-width: 500px) {
    footer {
        font-size: 0.7rem;
        text-align: left;
    }
    
    footer p {
        padding: 1rem 0;
    }
    footer nav {
        display: none;
    }
    div.line {
        border: 1px solid darkgrey;
        border-style: none none solid none;
        color: whitesmoke;
        padding-bottom: 1.5rem;
    }
    
}
