/* Fonts Import */
/* latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGh4-RGJqfMvt7P8FUr0Q1j-Hf1Bkll9w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'), url(https://fonts.gstatic.com/s/alegreyasanssc/v9/mtGm4-RGJqfMvt7P8FUr0Q1j-Hf1DrpG4iNhMA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Tags*/
* {
    font-size: 16px;
}

.titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.subtitles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.mediumbold {
    font-weight: 500;
}


/* Background Colors */
.light_bg {
    background-color: white;
}
.semilight_bg {
    background-color: whitesmoke;
}
.dark_bg {
    background-color: gray;
}

/* Font Colors */
.textcolor {
    color: rgb(94, 91, 91);
}
.lighttextcolor {
    color: darkgray;
}

/* Header */
header {
    border: 1px solid red;
    display: inline-flex;
    width: 96.35%;
    height: 64px;
    text-align: right;
    justify-content: space-between;
    padding: 0 24px;
}
header div {
    border: 1px solid red;
    display: inline-flex;
    align-items: center;
}
header div h1 {
    border: 1px solid red;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size:2.1rem;
    height: 2rem;
    width: auto;
   
}
header div img {
    border: 1px solid red;
    height: 45px;
    width: auto;
}
nav {
    border: 1px solid red;
    display: inline-flex;
    align-items: center;
}
nav li {
    border: 1px solid red;
    display: inline-flex;
    font-size: 1.1rem;
    margin: 0 16px;
}